# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/config.yaml
.DS_Store
custom_components/bl0910/__pycache__/__init__.cpython-313.pyc
